# SPDX-FileCopyrightText: 2021 ladyada for Adafruit Industries
#
# SPDX-License-Identifier: Unlicense

*.mpy
.idea
.vscode
__pycache__
_build
*.pyc
.env
.tox
bundles
*.DS_Store
.eggs
dist
**/*.egg-info
